<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Ashley Bloskas</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/assets/stylesheets/bootstrap.min.css" rel="stylesheet"> -->

    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- <link href="vendor/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/assets/stylesheets/devicons.min.css" rel="stylesheet">
    <link href="vendor/assets/stylesheets/simple-line-icons.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "resume.css" %>
    


  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Portfolio</span>
        <span class="d-none d-lg-block">
          <%= image_tag("AshleyBloskas-5x7.jpg", :alt => "Ashley Bloskas", :class => "img-fluid img-profile rounded-circle mx-auto mb-2") %>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Projects</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Ashley
            <span class="text-primary-1">Bloskas</span>
          </h1>
          <div class="subheading mb-5">52 Skytop Street · Apt 458 · San Jose, CA 95134 · (214) 632-5615 ·
            <a href="mailto:a.bloskas@yahoo.com">a.bloskas@yahoo.com</a>
          </div>
          <p class="mb-5">“The only source of knowledge is experience.” ~Albert Einstein
            <br>
              <br>
              Through education, internships, jobs, family, friends and more, I have learned so much. I have learned that not only does school teach you lessons, 
              but those lessons are transferred into real life situations- situations that you can learn from every single day. Just as in code, 
              your life is a set of <i>functions</i>. Each day is a new line of code. All of my experiences thus far have created this website for 
              all to see. My skills, accomplishments, goals, and assets are all apart of those lines of code to show how I can 
              be a great addition to <i>your</i> team or company.  
              <br>
              <br>
                I have a few years of experience with developing web applications. 
                I have a true passion for coding and all things involving technology. This passion has lead me to pursue
                more education on back-end development to refine the knowledge that I have already obtained. 
                 The beauty of the tech industry is that you are always learning new skills; and I hope with this opportunity to 
                 join an amazing company that I will continue to learn and expand my skill sets. 
                 I am a team player, and I can also lead a pack. I can pick up tasks and skills as they 
                come, and I am always willing to learn a new skill. I am a go-getter, and will easily attempt to put a smile on your face!
                <br>
                <br>
                <br>
                If you would like to know anything else about me, please contact me by phone or email!</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Co-Founder</h3>
              <div class="subheading mb-3">Keyzie.com</div>
              <ul>
                <li>Real Estate Platform streamlining several key aspects of the real estate process to an online process</li>
                <li>Designed and implemented our concept, strategy, scope and timeline, targeting archaic aspects of the real estate industry </li>
                <li>Acquired team of local talent to implement development plan and oversee growth of platform, managing a team of 5 key stakeholders</li>
                <li>Transactions totaled over $9mm, with 32 deals completed</li>
                <li>Head of development team; oversee development of several company websites</li>
                <li>Managed Ruby on Rails teams, UX for Keyzie.com and sister Real Estate sites: MainStrete.com, theStrete.com</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary-1">June 2016 - March 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Co-Founder, Lead Information Officer</h3>
              <div class="subheading mb-3">Granite Point Realty Inc., D.B.A GPR & Associates</div>
              <ul>
                <li>Head of personnel acquisition, overseeing rapid growth of employees and staff</li>
                <li>Led expansion of operations to every major metropolitan area of Texas, including back-end employee support</li>
                <li>Transaction volume totals over $29mm</li>                                                                                       
                <li>Managing daily operations of the brokerage, development of staff functions and internal contract management programs</li>
                <li>Created and managed HTML email campaigns and other marketing campaigns for the brokerage</li>
                <li>Licensed Real Estate Agent, registered with National Association of Realtors, Collin County Associations of Realtors</li>
                <li>Creation of company website, agent intranet, company app, and payment gateways, logo/yard sign design</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary-1">January 2016 - March 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Co-Founder, Lead UX/UI Designer</h3>
              <div class="subheading mb-3">Evap.co LLC</div>
              <ul>
                <li>Creator of social media application Evap</li>
                <li>Lead UX/UI Designer of application</li>
                <li>Managed the entirety of application development from UI/UX design to upload on the App Store</li>
                <li>Lead team through app's debugging and unit testing through BitBucket and iTunes Connect </li>
                <li>Main contact between dev team and the Evap design team and daily operations</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary-1">August 2015 - January 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Sales and Merchandise Intern</h3>
              <div class="subheading mb-3">The Walt Disney Company</div>
              <ul>
                <li>Sales and Merchandise Internship at the Walt Disney World Resort</li>
                <li>Provided superior guest service in cashier, “merchantaining”, floor-stocking and heart-of-house roles</li>
                 <li>Assisted in various sales roles at the World of Disney and other Disney resort locations</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary-1">September 2014 - January 2015 </span>
            </div>
          </div>
          <br>
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Financial Analyst Intern</h3>
              <div class="subheading mb-3">Lockheed Martin Corporation</div>
              <ul>
                <li>Preformed role as a Financial Analyst on the F-35 Joint Strike Fighter Program</li>
                <li>Supported Cost Health Metrics clean-up reviews and Rolling Wave Baseline Change Requests (BLCR)</li>             
                <li>Assisted in Earned Value Management (EVMS) and shadowed the Change Request processes</li>
                <li>Pulled weekly/monthly actuals of detailed labor and attended weekly/monthly EVMS, EAC and CPR reviews</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary-1">June 2014 - August 2014 </span>
            </div>
          </div>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Coding Dojo</h3>
                <div class="subheading mb-3">Continuing Certificate</div>
                <div>Backend Web Development, Ruby on Rails, Python, MEAN</div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary-1">February 2018 - May 2018 </span>
              </div>
            </div>
            <br>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Southern Methodist University</h3>
              <div class="subheading mb-3">Continuing Masters Certificate</div>
              <div>Web Development and Design</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary-1">January 2017 - December 2017</span>
            </div>
          </div>
          <br>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Texas A&M University</h3>
              <div class="subheading mb-3">Bachelor's of Business Administration</div>
              <div>Finance</div>
              <p>GPA: 3.5</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary-1">August 2011 - May 2015</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Most Used Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicon-html5-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-css3-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-javascript-plain colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-jquery-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-angularjs-plain colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-django-plain colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-bootstrap-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-rails-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-ruby-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-nodejs-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-wordpress-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-python-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-git-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-mysql-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-mongodb-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-express-original colored"></i>
            </li>
          </ul>
          
        
         
          
           
        
          <div class="subheading mb-3">Skills/Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              <b>Front End:</b> Adobe CC, WordPress, HTML5, CSS3, JavaScript, jQuery, UX/UI, RWS, Bootstrap
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              <b>Back End:</b> Git and Github, Mac Terminal, Python, Ruby, Rails, Angular, Express, NodeJS, MongoDB, MySQL, PostgreSQL, AJAX, RESTful API
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              <b>Other:</b> Microsoft Office, Google Analytics, EVMS, SAP; Amazon AWS, MailChimp
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I enjoy a lot of time outdoors. 
            If I'm not working or coding, I'm usually travelling.  
            During the warmer months, you'll find me mountain biking, camping, and kayaking.
          </p>
          <p class="mb-0">When forced indoors,  I also enjoying reading, laughing at gifs, and watching lame reality tv shows.
          <br>
          I am a passionate musician, and have been a drummer and percussionist for over 15 years.
            <br><br>
             I do spend a large amount of my free time learning about other front-end web development frameworks and 
             catching up on my front/back end and algorithm skills.
             <br><br>
             I also really really love puppies. And hot tea. </p>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>
          <p class="subheading mb-3">Visit my Github!</p>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
            <a href="https://github.com/abloskas"><i class="devicon-github-plain-wordmark colored"></i></a>
            </li>
          </ul>
           
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
